<!DOCTYPE html>
<head>
    <meta charset="UTF8">
    <title>Criação</title>
</head>

<body>
    <h1>Cadastrar Galaxia</h1>
    <form action="/" method="POST">
        <label for="nome">Digite o nome da Galaxia:</label><br>
        <input type="text" id="nome" name="nome"><br>

        <label for="estrela">Maior estrela:</label><br>
        <input type="text" id="estrela" name="estrela"><br>

        <label for="distancia">Distância:</label><br>
        <input type="text" id="distancia" name="distancia"><br>

        <label for="imagem">Adicione o Link da Imagem:</label><br>
        <input type="text" id="imagem" name="imagem"><br>

        <input type="submit" value="Criar">
    </form>

</body>